.widgets-panel {
  height: 100%;
  padding: 10px;
  transition: all 0.3s ease;
  
  &.landscape {
    width: 30%;
  }
  
  &.portrait {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 40%;
    z-index: 10;
    background-color: white;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    
    &.visible {
      transform: translateY(0);
    }
    
    .card {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
    
    .card-body {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  
  .widget-tabs {
    font-size: 0.85rem;
  }
  
  .card-body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100% - 42px);
  }
  
  .widget-content {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    
    .portrait & {
      padding: 5px;
    }
  }
} 